<!DOCTYPE html>
<html>
<body style="background-color:#333333;">  

<H2 style="text-align: center; color:white;">The Science and Politics Discord Bot is up and running.</H2>
  
<p style="text-align:center;"><img src="https://i.giphy.com/media/dYmKr3B58p3gYEZf0X/source.gif" align="center" style='object-fit: contain' height=400 width=500></p>
  
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/NJIT_Highlanders_logo.svg/1200px-NJIT_Highlanders_logo.svg.png" style="float: right; width: 30%; margin-right: 20%; margin-bottom: 0.5em;" alt="NJIT Highlanders Logo">  
<img src="https://i.imgur.com/UgPfH4R.png" style="float: left; width: 30%; margin-left: 20%; margin-bottom: 0.5em;" alt="NJIT Highlanders Logo">
<p style="clear: both;">

<p style="text-align:center;"><img src="../images/commands.png" align="center" style='object-fit: contain'></p>

</body>
</html>
